body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.color-picker {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.color-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-values {
    text-align: left;
    margin-right: 20px;
}

.color-values p {
    font-size: 18px;
    margin: 8px 0;
}

.color-values strong {
    font-size: 24px;
    font-weight: bold;
}

.color-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-display {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #000;
}

.color-display {
    background-color: #000; /* Default background color */
}

.color-preview input {
    width: 100px;
    height: 30px;
}
